@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background: #f8fafc;
}
button,
input,
textarea {
  font: inherit;
}
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(calc(100vw));
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 18s linear infinite;
}